src/Test/TestService/TestServiceKeeper/Service References/ServiceKeeperReference/ServiceKeeper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceKeeper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10860/ServiceKeeper.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10860/ServiceKeeper.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10860/ServiceKeeper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" />
      <xsd:import schemaLocation="http://localhost:10860/ServiceKeeper.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRegister_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IServiceRegister_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRegister_UnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegister" />
  </wsdl:message>
  <wsdl:message name="IServiceRegister_UnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKeeper_GetServiceAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceKeeper_GetServiceAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceRegister">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRegister/Register" message="tns:IServiceRegister_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRegister/RegisterResponse" message="tns:IServiceRegister_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRegister/UnRegister" message="tns:IServiceRegister_UnRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRegister/UnRegisterResponse" message="tns:IServiceRegister_UnRegister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceKeeper">
    <wsdl:operation name="GetServiceAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKeeper/GetServiceAddress" message="tns:IServiceKeeper_GetServiceAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKeeper/GetServiceAddressResponse" message="tns:IServiceKeeper_GetServiceAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceRegister" type="tns:IServiceRegister">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IServiceRegister/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <soap:operation soapAction="http://tempuri.org/IServiceRegister/UnRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IServiceKeeper" type="tns:IServiceKeeper">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceKeeper/GetServiceAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceKeeper">
    <wsdl:port name="BasicHttpBinding_IServiceRegister" binding="tns:BasicHttpBinding_IServiceRegister">
      <soap:address location="http://localhost:10860/ServiceKeeper.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IServiceKeeper" binding="tns:BasicHttpBinding_IServiceKeeper">
      <soap:address location="http://localhost:10860/ServiceKeeper.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>