src/Example/Sparticle.SAL.Example/Service References/ServiceCollectionReference/ServiceCollection.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCollection" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sparticle.ServiceCollection.Interface" />
      <xsd:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCollection_GetServiceAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAddress" />
  </wsdl:message>
  <wsdl:message name="IServiceCollection_GetServiceAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCollection_Reload_InputMessage">
    <wsdl:part name="parameters" element="tns:Reload" />
  </wsdl:message>
  <wsdl:portType name="IServiceCollection">
    <wsdl:operation name="GetServiceAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCollection/GetServiceAddress" message="tns:IServiceCollection_GetServiceAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCollection/GetServiceAddressResponse" message="tns:IServiceCollection_GetServiceAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reload">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCollection/Reload" message="tns:IServiceCollection_Reload_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCollection" type="tns:IServiceCollection">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceAddress">
      <soap:operation soapAction="http://tempuri.org/IServiceCollection/GetServiceAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reload">
      <soap:operation soapAction="http://tempuri.org/IServiceCollection/Reload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCollection">
    <wsdl:port name="BasicHttpBinding_IServiceCollection" binding="tns:BasicHttpBinding_IServiceCollection">
      <soap:address location="http://localhost:10556/ServiceCollection.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>