src/Example/Sparticle.SAL.Example/Service References/ServiceCollectionReference/ServiceCollection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sparticle.ServiceCollection.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sparticle.ServiceCollection.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:10556/ServiceCollection.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceAddressRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MMode" type="tns:ServiceAddressRequest.MatchMode" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceIdentity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAddressRequest" nillable="true" type="tns:ServiceAddressRequest" />
  <xs:simpleType name="ServiceAddressRequest.MatchMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ip">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="No">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceAddressRequest.MatchMode" nillable="true" type="tns:ServiceAddressRequest.MatchMode" />
  <xs:complexType name="ServiceAddressResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PropertyList" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ServiceIdentity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAddressResponse" nillable="true" type="tns:ServiceAddressResponse" />
</xs:schema>