src/Test/TestService/UnitTestServiceKeeper/Service References/ServiceKeeperReference/ServiceKeeper2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceRegisteRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:ServiceAddress" />
      <xs:element minOccurs="0" name="ServiceIdentity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRegisteRequest" nillable="true" type="tns:ServiceRegisteRequest" />
  <xs:complexType name="ServiceAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceAddress" nillable="true" type="tns:ServiceAddress" />
  <xs:complexType name="ServiceUnregisteRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceIdentity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUnregisteRequest" nillable="true" type="tns:ServiceUnregisteRequest" />
</xs:schema>