src/Test/TestService/UnitTestServiceKeeper/Service References/ServiceKeeperReference/ServiceKeeper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10860/ServiceKeeper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" minOccurs="0" name="request" nillable="true" type="q1:ServiceRegisteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" minOccurs="0" name="request" nillable="true" type="q2:ServiceUnregisteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sparticle.ServiceKeeper.Interface" minOccurs="0" name="GetServiceAddressResult" nillable="true" type="q3:ServiceAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>